/*   Michael Whalen
     Michael_Whalen@student.uml.edu
     Michael Whalen Computer Science Student in 91.61 GUI Prgoramming I Umass Lowell
     10/25/20
     Styling for table
*/




td:first-child{
background-color: black;
color:white;
}


tr:first-child{
  background-color: black;
  color:white;
}

.form-style{
background-color:lightgrey;
width:200px;
margin:auto;
}

#myTable{
  margin:auto;
  border:1px solid black;
}

/* Made table scrollable and centered it along with shortening it so it didn't take full height or width of screen */
.myDiv{
  overflow:scroll;
  height:20vh;
  width:80vh;
  margin:auto;
}
